.main {
  margin-top: 15px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  list-style: none;
}

.article {
  margin-bottom: 50px;
}

.title {
  font-size: 37px;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c";
  /* font-family: Yu Gothic,; */
  margin-bottom: 10px;
}

.date {
  font-size: 14px;
  font-family: Arial Black;
  margin-bottom: 10px;
}

.content {
  font-size: 15px;
  line-height: 1.5em;
  font-family: "M PLUS Rounded 1c";
}