.title {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
}

.list {
    list-style: none;
}

.category {
    font-size: 13px;
    color: #808080;
    display: inline;

    background-color: #f5f5f5;
    margin: 10px 5px 10px 0px;
    border: 1px solid #afadad;
    border-radius: 5px;
    padding: 3px;
}