.latestPosts {
  margin-bottom: 30px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
}

.articles {
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
}

