.html {
    font-size: 17px;
    line-height: 2.0em;
    font-family: "M PLUS Rounded 1c";
}

.html a {
    color: #4682b4;
    text-decoration: underline;
}

/* PC向け */
@media screen and (min-width: 480px) {
    .html img {
        max-width: 500px;
    }
}

/* スマホ向け */
@media screen and (max-width: 479px) {
    .html img {
        max-width: 479px;
        width: 100%; 
    }
}