.html {
    font-size: 16px;
    line-height: 1.5em;
}

@media screen and (min-width: 481px) {
    .html img {
        max-width: 500px;
    }
}

@media screen and (max-width: 480px) {
    .html img {
        max-width: 100%;
    }
}